body{

}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-back{
       
 
    background: rgb(17 219 207 / 34%);
    color: #fff;
}
.navbar-brand{
  color: #000;
}
.navbar-brand:hover{
  color: #fff;
}
.nav-link{
  color: #000;
}
.nav-link:hover{
  color:#fff;
}
.navbar-toggler{
  outline: none!important;
}

