body{
    background-color: #6aecff;


}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-back{
       
 
    background-color: #6aecff;
    color: #fff;
}
.navbar-brand{
  color: #000;
}
.navbar-brand:hover{
  color: #fff;
}
.nav-link{
  color: #000;
}
.nav-link:hover{
  color:#fff;
}
.navbar-toggler{
  outline: none!important;
}

