<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title> Admin Portal</title>
    
     <link rel="stylesheet" type="text/css" href="/AdminLogin.css" />


</head>
<center>
<body>

<form method="post" action="/admin/login">

    <p th:text="${message}" />
<div class = "c1">
    <br>
    <br>
    <br>
<table border="1" cellpadding="5"> 
<h1> PEDIATRIC HEALTH CARE CENTER  </h1>
<h3>  Admin's Login</h3>

<img src="Logo.jpg" height="200px" width="200px"/>
<tr>
<td> User Name </td>
<td> <input type="text"  name="email" placeholder="Admin Name"  />
</tr>
<tr>
<td> Password  </td>
<td> <input type="password"  name="password" placeholder="Password" />
</tr>
</table>
<div class = "submit">
 <button type="submit"> Login </button>
 </div>
</div>
</form>
</center>
</body>
</html>