<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/Apointment.css" >
    <link rel="stylesheet" type="text/css" href="bootstrap-5.1.0-dist/css/bootstrap.min.css" />
    <title>Appointment page</title>
</head>
<body>
<div class="inner-layer">
    <div class="container">
        <div class="row no-margin">
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="content">
                    <h1> Appointment Slot</h1>
                    <p>We seek to bring reconciliation and healing to individuals and families <br>
                        in need of wholeness and comfort through compassionate and competent care,
                        respecting the dignity in each person. </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-data">
                    <div class="form-head">
                        <h2>Book Appointment</h2>

                    </div>
                    <div class="form-body">
                        <form action="http://localhost:8080/appointments" method="post">
                            <input type="hidden" id="patientId" name="patientId" th:value="${patientId}"/>
                            <div class="row form-row">
                                <input type="text" placeholder="Enter full name" class="form-control" name="fullName">
                            </div>
                            <div class="row form-row">
                                <p th:text="${message}" />
                                <input  type="date" placeholder="Enter Appointment Date" class="form-control" max="01-2-2022" min="01-01-1900" name="appointmentDate" >

                            </div>
                            <div class="row form-row">
                                <select name="doctorname" id="doctorname">
                                    <option value="rajesh">Dr. Rajesh</option>
                                    <option value="simi">Dr. Simritha</option>
                                    <option value="abby">Dr. Abby</option>
                                    <option value="john">Dr. John</option>
                                </select>
                            </div>
                            <div class="row form-row">
                                <button class="btn btn-success btn-appointment">
                                    Book Appointment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="bootstrap-4.3.1-dist.js/js/jquery-3.3.1.js"></script>
<script src="package/dist/popper.min.js"></script>
<script src="bootstrap-5.1.0-dist/js/bootstrap.min.js"></script>
<script src="vitalets-bootstrap-datepicker-c7af15b/locales/bootstrap-datepicker.cs.js"></script>



</body>
</html>