<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <title>Doctor Panel</title>
    <style>

#data{
    height: 700px;
    background-color:white;
    color:#101024;
    font-family:Calibri;
    font-size:25px;


}
#adminlogo{
     background-color : white;
     border-radius:30px;
}


ul li{
    padding: 20px;
    border-bottom: 2px solid grey;
}
ul li:hover{
      background:#a7a8c7;
      color:white;
}
</style>
</head>
<body>
<div id="header">
    <Center>
        <img src="/Logo.jpg" alt="adminlogo" height="75px" width="75px"  id="adminlogo">
        <p> Pediatric Health Care Center </p>
    </Center>
</div>
<div id="sidebar">
    <ul>
        <li><a th:href="@{/admin/{id}(id = ${admin.id})}"> Home </a></li>

    </ul>
</div>
<div id="data"><br>
    <center><h1> Welcome to Pediatric Health Care Center </h1>
        <table border ="1"cellpadding="9" bgcolor="beige"bordercolor =" Yellow">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date of Appointment</th>
                <th>Status</th>
                <th>Confirm</th>
                <th>Decline</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.id}">ID</td>
                <td th:text="${appointment.fullName}">Full Name</td>
                <td th:text="${appointment.appointmentDate}">Date of Appointment</td>
                <td th:text="${appointment.status}">Status</td>
                <td >
                    <form method="POST" th:action="@{/appointments/{id}/confirm(id = ${appointment.id})}">
                        <input type="submit" value="Confirm" th:disabled="${appointment.status.name() != 'PENDING'}"/>
                    </form>

                </td>
                <td >
                    <form method="POST" th:action="@{/appointments/{id}/decline(id = ${appointment.id})}">
                        <input type="submit" value="Decline" th:disabled="${appointment.status.name() != 'PENDING'}"/>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>

    </center>


</div>
</body>
</html>