<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Home Page</title>
</head>
<body>
<h1 th:text="'Welcome,'+ ${patient.fname}+'!'"/>
<div class="topnav">
    <a class="active" th:href="@{/patients/{id}(id = ${patient.id})}">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a th:href="@{/appointments/{id}/create(id = ${patient.id})}">Appointment</a>
</div>

    <table border ="3"cellpadding="9" bgcolor="#d2f7dd" bordercolor ="#236e40">
        <thead>
        <tr>
            <th>Date of Appointment</th>
            <th>Doctor Name</th>
            <th>Status</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.appointmentDate}">Date of Appointment</td>
            <td th:text="${appointment.doctorname}">Doctor</td>
            <td th:text="${appointment.status}">Status</td>
        </tr>
        </tbody>
    </table>
</body>
</html>